.card-login {
  margin: auto;
  margin-top: 8%;
}


@media (max-width: 1000px) {
  .card-login {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .card-login {
    max-width: 65%;
  }
}


.form-container {
  padding: 16px;
}

.full-width {
  width: 100%;
}

.box-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
