<mat-card class="overflow-hidden">
     <mat-card-content>
          <div>
               <p class="fs-18 lh-lg fw-medium">
                    Paiement du rendez vous du {{appointment.date_heure_debut}}
               </p>
               <div>
                    <app-table [data]="getAppointmentServices()" [columns]="columns">
                    </app-table>
               </div>
               <br/>
               <div class="text-right">
                    <span class="badge badge-danger rounded-pill">Total:
                         {{appointment.prix}} Ar</span>
               </div>
               <br />

               <button mat-raised-button class="me-8 mb-8" color="primary">Payer</button>
          </div>
     </mat-card-content>
</mat-card>
