<mat-card class="overflow-hidden payment-card">
     <mat-card-content>
          <div>
               <p class="fs-18 lh-lg fw-medium">
                    Paiement du rendez vous du {{formatDate(appointment?.date_heure_debut)}}
               </p>
               <div>
                    <app-table [data]="appointment.services" [columns]="columns">
                    </app-table>
               </div>
               <br />
               <div class="text-right">
                    <span class="badge badge-danger rounded-pill">Total:
                         {{appointment.prix}} Ar</span>
               </div>
               <br />

               <form [formGroup]="form">
                    <div>

                         <app-inputs [form]="form" [props]="inputPaiement" key="mode_paiement"></app-inputs>
                    </div>
                    <button mat-raised-button class="me-8 mb-8" color="primary" type="submit" (click)="handlePayment()">Payer</button>
                    <button mat-raised-button class="text-right me-8 mb-8" color="warn"
                         (click)="retour()">Retour</button>
               </form>
          </div>
     </mat-card-content>
</mat-card>
