<!--Stat Nombre de rendez vous-->
<app-appointment-number></app-appointment-number>
<mat-card>
     <mat-card-content>
          <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
     </mat-card-content>
</mat-card>

<!--total d'heure de travail par employé-->
<app-worktime></app-worktime>
<mat-card>
     <mat-card-content>
          <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
     </mat-card-content>
</mat-card>

<!--Chiffre d'affaire-->
<app-turnover></app-turnover>
<mat-card>
     <mat-card-content>
          <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
     </mat-card-content>
</mat-card>

<!--Stat sur les bénéfices-->
<app-income></app-income>
