<ng-container [formGroup]="form">
     <mat-form-field appearance="outline" [class]="props.class || ''">
          <mat-label>{{props.label}}</mat-label>
          <input matInput [value]="selectedImgName.length>0 ? selectedImgName : 'Choisir une image'" />
          <input type="file" id="fileInput" accept="image/*" (change)="selectImage($event)" />
          <mat-error>{{readError()}}</mat-error>

          <input type="hidden" [formControlName]="key" [value]="preview" />

     </mat-form-field>
</ng-container>
<div>
     <img [src]="preview" class="preview">
</div>
