<ng-container [formGroup]="form">
     <mat-form-field appearance="outline">
          <mat-label>{{props.label}}</mat-label>
          <input matInput [value]="selectedImgName.length>0 ? selectedImgName : 'Choisir une image'" />
          <input type="file" id="fileInput" [formControlName]="key" accept="image/*" (change)="selectImage($event)" />
          <mat-error>{{readError()}}</mat-error>
     </mat-form-field>

     <div>
          <img [src]="preview" class="preview">
     </div>
</ng-container>
