<!--formulaire de création -->
<ng-container *ngIf="pageProps.create">
     <div class="text-right">
          <button mat-raised-button class="me-8 mb-8" color="primary" (click)="openCreateForm()">Nouveau</button>
     </div>
     <br />
</ng-container>

<!--filtre-->
<ng-container *ngIf="pageProps.filter">
     <mat-card>
          <mat-card-content>
               <h4 class="mb-32">Filtre</h4>
               <app-form [inputs]="filterFormProps.inputs" [action]="filterFormProps.action"
                    inputClass="form-field inline" [withSweetAlert]="false">
               </app-form>
          </mat-card-content>
     </mat-card>
</ng-container>

<!--toute la liste-->
<mat-card>
     <mat-card-content>
          <ng-container *ngIf="pageProps.list">
               <!--liste-->
               <h4 class="mb-32">Liste des {{crudService.crudName}}s</h4>

               <!--pagination-->
               <ng-container *ngIf="pageProps.paginate; else elseListNoPagination">
                    <app-table-paginate [data]="dataList" [columns]="columns" [editable]="pageProps.update"
                         [updateFormProps]="updateFormProps" [deletable]="pageProps.delete"
                         [deleteAction]="deleteAction" [length]="totalLength" [rowsPerPage]="lengthPage"
                         [currentPage]="currentPage" 
                         (currentPageChange)="handlePageChange($event)" [onRowClick]="onRowClick"></app-table-paginate>
               </ng-container>
               <ng-template #elseListNoPagination>
                    <app-table [data]="dataList" [columns]="columns" [editable]="pageProps.update"
                         [updateFormProps]="updateFormProps" [deletable]="pageProps.delete"
                         [deleteAction]="deleteAction"  [onRowClick]="onRowClick"></app-table>
               </ng-template>
          </ng-container>

     </mat-card-content>
</mat-card>
