<mat-card>
     <mat-card-content>
          <h4 class="mb-32">Nombre de rendez vous par jour</h4>
          <div class="alert alert-warning alert-text-warning d-flex fs-14 align-items-center rounded mb-16"
               role="alert">
               <i-feather name="alert-triangle" class="text-warning feather-base me-12"></i-feather>
               Si c'est par mois, alors le système prend automatiquement le début du mois de départ et la fin du mois de
               fin.
          </div>
          <app-form [inputs]="filterInputs" [action]="formAction" inputClass="form-field inline"
               [withSweetAlert]="false">
          </app-form>

          <br />
          <ng-container *ngIf="isDataThere">
               <app-bar-chart [data]="chartOptions"></app-bar-chart>
          </ng-container>
     </mat-card-content>
</mat-card>
