<div class="update-pop-up">
     <h3 mat-dialog-title>Modifier le rendez-vous</h3>
     <div mat-dialog-content>
          <form [formGroup]="form">
               <app-inputs [props]="{label: 'Date', type: 'datetime-local'}" key="date" [form]="form"></app-inputs>
               <div formArrayName="services">
                    <ng-container *ngFor="let elt of getFormService(); let i=index" formGroupName="{{i}}">
                         <div>
                              <app-inputs class="me-24 fs-16" [props]="formProps.service" key="service"
                                   [form]="elt"></app-inputs>
                              <app-inputs class="me-24 fs-16" [props]="formProps.employee" key="employee"
                                   [form]="elt"></app-inputs>
                              <button mat-raised-button type="contained" color="warn" class="me-24 fs-16 btn-remove-dynamic-form"
                                   (click)="removeService(i)" *ngIf="isGtThanOneService()" >
                                   Supprimer
                              </button>
                         </div>
                    </ng-container>
               </div>
               <div class="text-right">
                    <button mat-raised-button color="accent" (click)="addService()">
                         Ajouter service
                    </button>
               </div>
               <br/>
               <div>
                    <button mat-raised-button color="primary" type="submit" class="me-8 mb-8" (click)="handleCreateSubmit()">
                         <ng-container *ngIf="loaderSubmit">
                              <mat-spinner [diameter]="40" color="#fff" class="me-8 mb-8" id="spinner-btn"></mat-spinner>
                         </ng-container>
                         <ng-container *ngIf="!loaderSubmit">
                              Enregistrer les modifications
                         </ng-container>
                    </button>
                    <button mat-raised-button color="accent" class="me-8 mb-8" (click)="goToPayment()">
                              Payer le rendez vous
                    </button>
                    <button mat-raised-button color="warn" class="me-8 mb-8" (click)="handleDeleteSubmit()">
                         <ng-container *ngIf="loaderSubmit">
                              <mat-spinner [diameter]="40" color="#fff" class="me-8 mb-8" id="spinner-btn"></mat-spinner>
                         </ng-container>
                         <ng-container *ngIf="!loaderSubmit">
                              Supprimer le rendez vous
                         </ng-container>
                    </button>
               </div>
          </form>
     </div>
</div>
