
<mat-card>
     <ul class="cards">
          <li class="card" *ngFor="let item of specialOffers;let i=index ">
               <div>
                    <div>
                         <img src="{{ image[i%4] }}" class="w-100" alt="">
                    </div>
                    <div class="card-content">
                         <p class="lh-lg fw-medium">
                              Du {{convertDate(item.date_heure_debut)}} au {{convertDate(item.date_heure_fin)}}, {{item.remise}}% de réduction sur
                              {{item.service.nom}}
                         </p>
                         <p class="op-7">
                              {{item.description}}
                         </p>
                    </div>
               </div>
          </li>
     </ul>
</mat-card>
