.mat-progress-spinner circle,
.mat-spinner circle {
     stroke: white;
}

.mat-spinner {
     ::ng-deep circle {
         stroke: white;
         margin:auto;
     }
     margin:auto;
}
.full-width{
     width: 100%;
}
