<form [formGroup]="form" class="row">
     <div class="col-md-12">
          <ng-container *ngFor="let key of keys()">
               <!-- <span [class.d-none]="inputs[key]?.type === 'hidden'" class="{{inputClass}}"
                     > -->
                    <app-inputs [form]="form" [props]="inputs[key]" [key]="key">
                    </app-inputs>
               <!-- </span> -->
          </ng-container>
     </div>
     <ng-content></ng-content>


     <div class="col-md-12">
          <button mat-raised-button [class]="action.class" [color]="action.color" type="submit" (click)="validate()" >
               <ng-container *ngIf="loaderSubmit; else labelBtn">
                    <mat-spinner [diameter]="40" color="#fff" id="spinner-btn"></mat-spinner>
               </ng-container>
               <ng-template #labelBtn >
                    {{action.label}}
               </ng-template>
          </button>
     </div>
</form>
