.mat-spinner {
  margin: 0 auto;
  display: block;
}

.update-pop-up, .delete-pop-up {
  margin-top: 20px;
  max-width:500px;
}

.table-image-box{
    width: 50px;
    height: 50px;
}

.table-image{
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.rowable:hover {
  background-color: #adf1ff; /* Couleur de fond lorsque survolé */
}
