<div class="mat-elevation-z2 table-responsive mb-4"
     *ngIf="columns!==undefined && data !== undefined && titles !== undefined">
     <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">

          <!--Define columns-->
          <ng-container *ngFor="let col of getColumns(); index as i">
               <ng-container [matColumnDef]="col.name">
                    <th mat-header-cell *matHeaderCellDef>{{col.name}}</th>
                    <td mat-cell class="fw-medium {{col.class}}" *matCellDef="let element"
                         [innerHTML]="col.selector(element)">

                    </td>
               </ng-container>
          </ng-container>

          <!--Edit column-->
          <ng-container *ngIf="getEditable()">
               <ng-container matColumnDef="Edit">
                    <th mat-header-cell *matHeaderCellDef>Modifier</th>
                    <td mat-cell class="fw-medium" *matCellDef="let element">
                         <app-row-edit></app-row-edit>
                    </td>
               </ng-container>
          </ng-container>

          <!--Delete column-->
          <ng-container *ngIf="getEditable()">
               <ng-container matColumnDef="Supprimer">
                    <th mat-header-cell *matHeaderCellDef>Supprimer</th>
                    <td mat-cell class="fw-medium" *matCellDef="let element">
                         <app-row-delete></app-row-delete>
                    </td>
               </ng-container>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="getTitles()"></tr>
          <tr mat-row *matRowDef="let row; columns: getTitles();" (click)="this.onRowClick.emit(row)"></tr>

     </table>

</div>
